/* Project Colors */
:root {
  --scale_9: #EDF2F4;
  --scale_8: #f5f3f4;
  --scale_7: #D3D3D3;
  --scale_6: #e5dbda;
  --scale_3: #1e2327;
  --scale_1: #0d0d0d;
  --color_main_9: #fe3a3a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: none;
  overflow-x: hidden;
  overflow-y: hidden;

  background-color: var(--scale_9);
}

/* Three.js Canvas */
canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px;
}

/* Cursor CSS */
.cursorDot {
  width: 6px;
  height: 6px;
  background-color: var(--scale_9);
  border-radius: 50%; 
  position: absolute;
  pointer-events: none;
}

.cursorFollow {
  width: 30px;
  height: 30px;
  border: 2px solid var(--scale_7);
  border-radius: 50%;  
  position: absolute;
  transition-duration: 50ms;
  transition-timing-function: ease-out;
  pointer-events: none;
  opacity: 35%;
}

/* Next Page Button*/
.buttonHolder {
  /* background-color: #fe3a3a; */
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  padding: 25px;
}
.nextPageButton {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: var(--scale_9);
  overflow: hidden;
  transition-property: border-style, border-width, border-color;
  transition-duration: 0.2s;
}
.nextPageButton:hover{
  border-style:double;
  border-width: 10px;
  border-color: var(--scale_6);
}
.nextPageButtonFiller {
  position: relative;
  top: 105%;

  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--scale_6);
  width: 0%;
  height: 0%;

  border-radius: 50%;
  pointer-events: none;
  transition-property: top, width, height;
  transition-duration: 0.2s;
}
.nextPageButton:hover .nextPageButtonFiller{
  top: 50%;

  width: 105%;
  height: 105%;
}

.nextPageButtonArrow {
  position: relative;
  left: 50%;
  top: 50%;
  color: var(--scale_9);
  font-size: 2em;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.nextPageButton:hover .nextPageButtonArrow {
  color: var(--scale_3);
  top: -50%
}

/* Center Body Boxes */
.displayBox {
  /* background-color: bisque; */

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.pageTop {
  background-color: aqua;
  flex: 10;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 50px;
}

.pageMiddle {
  background-color: blue;
  flex: 90;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Text */
.pageIcon {
  font-size: 5em;
  font-family: gloridot, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--scale_9);
}

.pageCenterText {
  color: var(--scale_9);
  font-size: 2em;
  font-family: citizen, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.pageCenterCatcher {
  color: var(--scale_9);
  font-size: 4em;
  font-family: citizen, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.pageCenterTagLine {
  color: var(--scale_9);
  font-size: 1.5em;
  font-family: citizen, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.centerPiece {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}