@media (max-width: 960px) {
    canvas {
        padding: 0px;
    }
    body{
        cursor: default;
    }
    /* cursor dot Removal */
    .cursorDot {
        width: 0px;
        height: 0px;
    }

    .cursorFollow {
        width: 0px;
        height: 0px;
    }
  }